parameters:
    paths:
        - bin/console
        - config
        - public
        - src
    level: max

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
